* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

.content {
  padding-top: 75px;
}

.offcanvas a {
  text-decoration: none;
  font-size: 1.2rem;
}

.offcanvas a:hover {
  text-decoration: underline;
}